* {
  margin: 0;
  padding: 0;
  transition: all 0.5s;
}

a,
a:hover {
  text-decoration: none;
}

p {
  margin: 0;
}

/* подключение шрифтов */
@font-face {
  font-family: LatoRegular;
  src: url(../fonts/LatoRegular.ttf);
}

@font-face {
  font-family: LatoLight;
  src: url(../fonts/Lato-Light.ttf);
}

html,
body {
  height: 100%;
  width: 100%;
  /* шрифт по умолчанию у всех лементов LatoRegular */
  font-family: LatoRegular;
}

.sign_in {
  margin-right: 70px;
  margin-left: 130px;
  transition: all 0.3s ease;
}

.navbar {
  min-height: 55px;
  background: transparent;
  padding: 0;
  margin: 0;
  font-size: 1.2em;
  border: 0px;
  font-family: LatoRegular;
  color: #e9e9e9 !important;
  transition: all 0.3s ease;
}

.navbar-inverse .navbar-nav li a {
  font-family: LatoRegular;
  color: #e9e9e9 !important;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.navbar-inverse .navbar-nav li a:hover,
.navbar-inverse .navbar-nav li a.active_link {
  border-bottom: 2px solid #e9e9e9;
}

.navbar-inverse .navbar-nav li a.active_link:hover {
  border-bottom: 2px solid #a3a3a3 !important;
}

/* задний фон меню при прокрутке */
.scrolled {
  background: #0b0f13;
}

/* задний фон меню при нажатии на гамбургер */
.pressed {
  background: #0b0f13;
}

.scrolled #brand-image {
  width: 150px;
}

.scrolled .navbar-nav {
  margin-top: 15px;
}

.scrolled .navbar-toggle {
  margin-top: 20px;
}

.navbar-nav {
  margin-top: 20px;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.navbar-toggle {
  margin-top: 30px;
  transition: all 0.3s ease;
  border: none;
}

.navbar-brand {
  width: auto;
}

#brand-image {
  width: 200px;
  margin-left: 30%;
  transition: all 0.4s ease;
}

.navbar-brand {
  margin-right: 50px;
}

#home {
  background: url(../img/met2.jpg) no-repeat center center fixed;
  display: table;
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: all 0.3s;
}

h1,
h2,
h3 {
  font-family: LatoLight !important;
}

.landing-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-family: "Roboto";
  font-weight: lighter;
  color: #e9e9e9;
  position: relative;
}

.arrow {
  position: absolute;
  bottom: 10%;
  color: #e9e9e9;
  transition: all 0.3s;
}

.arrow:hover {
  /* меняем цвет стрелке при наведении */
  color: #be1522;
}

.black_article_block {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #0b0f13 !important;
  /* color: #e9e9e9; */
}

.black_article_block h4 {
  color: #e9e9e9 !important;
}

.black_article_block .line {
  width: 250px;
  height: 2px;
  background-color: #4e5152;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.black_article_block .line::after {
  width: 60px;
  height: 3px;
  background-color: #be1522;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -30px;
}

.padding {
  padding: 50px 0;
}

/* кнопка вверх страницы */
div.back-to-top {
  z-index: 20;
  position: fixed;
  color: #fff;
  background-color: #be1522;
  right: 20px;
  bottom: 10px;
  padding: 5px 10px; /* отступы до содержимого блока */
  font-size: 20px; /* размер шрифта (иконки) */
  border-radius: 4px;
  cursor: pointer;
  display: none; /* не отображать элемент по умолчанию */
  text-align: center;
  opacity: 0.6;
  transition: all 0.3s ease;
}

div.back-to-top:hover {
  opacity: 1;
}

/* блок историй */

.no-margin {
  margin: 0 !important;
}

.history-block {
  width: 100%;
  margin: 0;
  padding: 0;
}

.history-block .history-1,
.history-block .history-2,
.history-block .history-3,
.history-block .history-4 {
  height: 70vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.history-text {
  width: 65%;
}

.col-sm-6 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.history-block h2 {
  font-family: LatoLight;
  color: #e9e9e9;
  font-size: 1.5em;
  margin-bottom: 15%;
}

.history-block .history-1 {
  background-image: url(../img/beatles.jpg);
}

.history-block .history-2 {
  background-image: url(../img/megadeth1.jpg);
}

.history-block .history-3 {
  background-image: url(../img/nirvana.jpg);
}

.history-block .history-4 {
  background-image: url(../img/linkin-park.jpg);
}

.history-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh !important;
  background-color: #080d15a6;
  transition: all 0.5s;
}

/* Футер */

footer {
  padding: 2rem;
  background: #0b0f13;
}

.logo_sec {
  width: 130px;
  transition: all 0.4s ease;
}

.footer-column {
  text-align: center;
}
.footer-column .nav-item .nav-link {
  padding: 0.1rem 0;
}
.footer-column .nav-item span.nav-link {
  color: #6c757d;
}
.footer-column .nav-item span.footer-title {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.footer-column .nav-item .fas {
  margin-right: 0.5rem;
}
.footer-column ul {
  display: inline-block;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  color: #be1522;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  border-radius: 100%;
  outline: 0;
  background-color: #1a1d20;
}

.copyright {
  color: #ffffff;
  font-family: LatoRegular;
  font-size: 1em;
}

/* НОВОСТИ */

/* Небошьшой банер на странице новостей */
#news-baner {
  background: url(../img/metal.jpg) no-repeat center center fixed;
  display: table;
  width: 100%;
  height: 70%;
  background-size: cover;
  background-position-y: top;
  transition: all 0.3s;
}

figure {
  margin: 20px 0;
}

figure > img {
  width: 100%;
}

/* секция блока новостей */

.section {
  padding-top: 30px;
  background: #14181c;
}

.section-row {
  margin-bottom: 30px;
}

.section-title {
  position: relative;
  margin-bottom: 20px;
}

.section-title .title {
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: #e9e9e9;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 10px;
  z-index: 10;
}

/* стили номеров страниц */
.meta-pages {
  margin-bottom: 30px;
}

.meta-pages li {
  display: inline-block;
  color: #e9e9e9;
  font-size: 14px;
  margin-right: 10px;
  padding: 15px 25px;
  background: #4e5152;
  transition: all 0.3s;
}

.meta-pages li:hover {
  background: #323335;
  cursor: pointer;
}

.meta-pages li a {
  color: #e9e9e9;
  font-size: 14px;
}

/* Пост на странице новостей*/

.post {
  position: relative;
  margin-bottom: 30px;
}

.post .post-body {
  position: relative;
  padding: 3%;
  background: #4e5152;
  z-index: 10;
}

.post .post-img {
  display: block;
  overflow: hidden;
}

.post-img > img {
  width: 100%;
  transition: all 1.5s;
}

.post-img:hover > img {
  transform: scale(1.1);
}

.post .post-title {
  font-size: 18px;
}

.post .post-title a {
  color: #e9e9e9;
  transition: all 0.3s ease;
}

.post .post-title a:hover {
  color: #be1522;
}

.post .post-title.title-sm {
  font-size: 16px;
}

.post .post-title.title-lg {
  font-size: 25.629px;
}

.post .post-meta {
  margin-bottom: 10px;
}

.post-meta li {
  display: inline-block;
  color: #e9e9e9;
  font-size: 14px;
}

.post-meta li a {
  color: #4e5152;
  font-weight: 700;
}

.post li p {
  margin-right: 15px;
}

/* Сайдбар */

.post.post-widget:after {
  content: "";
  display: table;
  clear: both;
}

.post.post-widget .post-img {
  float: left;
  width: 130px;
}

.post.post-widget .post-body {
  position: relative;
  background: transparent;
  margin: 0px 0px 0px 150px;
  padding: 0;
}

.post.post-widget .post-title {
  font-size: 16px;
  margin-bottom: 0px;
}

/* Страница статьи */

.page-header {
  position: relative;
  margin: 0;
  padding-top: 120px;
  padding-bottom: 80px;
  background-color: #1b1c1e;
}

#post-header {
  padding-top: 240px;
  padding-bottom: 80px;
}

.post-title-head h1 {
  color: #e9e9e9;
}

.section .second-tittle {
  font-family: LatoRegular;
  color: #e9e9e9 !important;
}

.section p {
  font-family: LatoRegular;
  color: #e9e9e9 !important;
  font-size: 1.1em;
}

.page-header .page-header-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* затемнение для банера страницы новости */
.page-header .page-header-bg:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(27, 28, 30, 0)),
    color-stop(90%, rgba(27, 28, 30, 0.8))
  );
  background: linear-gradient(
    180deg,
    rgba(27, 28, 30, 0) 0%,
    rgba(27, 28, 30, 0.8) 90%
  );
}

.page-header h1 {
  font-size: 2.5em;
  color: #e9e9e9;
}

.page-header .post-meta li {
  color: #e9e9e9;
}

.page-header .post-meta li p {
  margin-right: 15px;
}

/* Комментарии */

.post-comments .media {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.post-comments .media .media-left {
  position: relative;
  padding-right: 15px;
  margin-top: 10px;
}

.post-comments .media .media-left .avatar {
  width: 50px;
  border-radius: 50%;
  position: relative;
  z-index: 20;
}

.post-comments .media .media-heading h4 {
  font-family: LatoRegular;
  font-size: 1.2em;
  font-weight: bold;
  color: #e9e9e9;
  display: inline-block;
}

.post-comments .media .media-heading .time {
  color: #97989b;
  margin-left: 10px;
  font-size: 0.8em;
  font-family: LatoLight;
}

.post-comments .media .comment-text {
  font-family: LatoRegular;
  margin-bottom: 30px;
  color: #e9e9e9;
  font-size: 1.1em;
}

.post-comments .media .reply {
  text-transform: uppercase;
  display: inline-block;
  padding: 5px 13px;
  font-size: 12px;
  font-family: LatoRegular;
  color: #fff;
  background-color: #323335;
  border-radius: 2px;
  transition: 0.2s opacity;
}

.post-comments .media .reply:hover {
  opacity: 0.9;
}

.post-comments .media .media-heading h4 {
  color: #e9e9e9;
}

.post-comments {
  margin-bottom: 30px;
}

/* стили для формы комментариев */

/* ограничения на максимальную и минимальную ширину текстовой области */
.post-reply .form-group > textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
  max-height: 300px;
}

.form-group > .input,
textarea {
  font-family: LatoLight;
  font-size: 1.1em;
  border: 1px transparent;
  background: #393c3d;
  padding: 15px 25px;
  color: #e9e9e9;
  width: 100%;
}

.post-reply .submit-button {
  color: #e9e9e9;
  background: #be1522;
  padding: 0 20px;
  height: 50px;
  min-width: 180px;
  width: 50%;
  border: none;
  transition: all 0.3s ease;
}

.post-reply .submit-button:hover {
  background: #1a1d20;
}

/* Страница обои */

/* Небольшой банер на странице обои */
#walp-baner {
  background: url(../img/metal2.jpg) no-repeat center center fixed;
  display: table;
  width: 100%;
  height: 70%;
  background-size: cover;
  background-position-y: 30%;
  transition: all 0.3s;
}

/* кнопка поиска */

.form-find .input {
  font-family: LatoLight;
  font-size: 1.1em;
  border: 1px transparent;
  background: #393c3d;
  padding: 0px 25px;
  height: 50px;
  color: #e9e9e9;
  width: 100%;
  margin: 20px 0;
}

.form-find .find-button {
  color: #e9e9e9;
  background: #be1522;
  height: 50px;
  width: 100%;
  border: none;
  transition: all 0.3s ease;
  margin: 20px 0;
}

.post-reply .find-button:hover {
  background: #1a1d20;
}

/* Медиазапроссы */

@media (max-width: 990px) {
  .history-block h2 {
    font-size: 1.1em;
  }
}

@media (max-width: 1250px) {
  .history-block h2 {
    font-size: 1.3em;
  }

  #walp-baner {
    height: 40%;
    background-position-y: 50%;
  }

  #news-baner {
    height: 40%;
    background-position-y: 30%;
  }
}

@media (max-width: 525px) {
  .history-block h2 {
    font-size: 1.1em;
  }
}

@media (min-width: 768px) {
  .footer-column ul {
    text-align: left;
  }
}

@media (max-width: 320px) {
  .scrolled #brand-image {
    width: 120px;
  }
}

@media (max-width: 950px) {
  #brand-image {
    margin-left: 10%;
  }

  .navbar-brand {
    margin: 0;
  }

  .sign_in {
    margin-left: 20px;
    margin-right: 10px;
  }
}

@media (max-width: 850px) {
  /* делаем картинке меньше размер*/
  #brand-image {
    width: 170px;
  }
  .sign_in {
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  .nav_items {
    margin-left: 10px !important;
  }

  #home {
    background-position: 30%;
  }
}

@media (max-width: 990px) {
  footer .box {
    margin-top: 15px;
  }

  .logo_sec {
    width: 180px;
  }
}

@media only screen and (max-width: 767px) {
  .page-header h1 {
    font-size: 32.437px;
  }
  .post-nav .prev-post {
    float: none;
    width: 100%;
    margin-bottom: 15px;
    padding-right: 0px;
  }
  .post-nav .prev-post:last-child {
    margin-bottom: 0px;
  }
  .post-nav .next-post {
    float: none;
    width: 100%;
  }
  .post-nav .next-post {
    float: none;
    width: 100%;
    padding-left: 0px;
    text-align: left;
  }
  .post-nav .next-post .post-img {
    margin-right: 15px;
    float: left;
    margin-left: 0px;
  }
}

